
#ChangePasswordForm {
    background-color: #ffffffc8;
    border-radius: 10px;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    width: min-content;
    padding: 3vh 5vw;
    justify-items: center;
    margin-top: 30vh;
    box-shadow: 0px 0px 7px 3px #8e691f31;
}

#ChangePasswordForm .ChangePasswordTitle {
    font-size: max(3.5vmin, 24px);
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 4vh;
    color: #cf9116;
}

#ChangePasswordForm .ChangePasswordField {
    width: min-content;
    margin-bottom: 2vh;

}

#ChangePasswordForm label {
    margin-bottom: 1vh;
    font-size: max(2.4vmin, 15px);
    white-space: nowrap;
    font-weight: 500;

}

#ChangePasswordForm input {
    height: 6vh;
    width: 50vw;
    max-width: 350px;
}


#ChangePasswordForm button:disabled {
    background-color: #a8a59e;
}

#ChangePasswordForm .password-container {
    display: flex;
    align-items: center;
    position: relative;

}

#ChangePasswordForm .password-toggle {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 0vw;
    color: #666;
}

#ChangePasswordForm .password-toggle:focus {
    outline: none;
}

@media screen and (max-width: 768px) {

    #ChangePasswordForm input {
        height: 6vh;
        width: 60vw;
    }

}