.ProjectCard {
    margin: 5% 8%;
    border-radius: 10px;
    background-color: #ffffffc8;
    transition: 0.5s;
    text-decoration: none;
    overflow: auto;
    word-wrap: break-word;
    color: #000000;
    box-shadow: 0px 0px 7px 3px #8e691f31;
}

.ProjectCard:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    cursor: pointer;
    transform: translateY(-5px);
}


.ProjectCard .Projectdetails {
    padding: 1.5vh 2vw;
}

.ProjectCard .img {
    width: 100%;
    margin-bottom: 0.2vmin;
    aspect-ratio: 2/1;
    background-color: rgb(235, 229, 222);
    font-size: max(3.5vmin, 20px);
    color: #414141;
    font-weight: 700;
    text-align: center;
    align-content: center;


}

.ProjectCard .DateIcon {
    margin-left: 10px;
    font-size: 20px;
}

.ProjectCard .ProjectInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
    align-items: center;
}

.ProjectCard .ProjectInfo .code {
    display: flex;
    font-weight: 600;
    align-items: center;
}

.ProjectCard .ProjectInfo .label {
    color: #cf9116;
    margin-left: 0.5vw;
    display: flex;
    align-items: center;
    font-size: max(1.8vmin, 14px);
}

.ProjectCard .date {
    display: flex;
    align-items: center;
    color: #cf9116;
}

.ProjectCard .date label {
    display: block;
    margin-left: auto;
    font-size: max(2vmin, 12px);
    color: black;
}

.ProjectCard .ProjectStatusProgress {
    color: #000000;
    margin-left: 10px;
}

.ProjectCard .ProjectStatusDone {
    color: #12481c;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .ProjectCard {
        width: 70vw;
        margin-right: auto;
        margin-left: auto;
    }

    .ProjectCard .img {
        aspect-ratio: 3/1;
    }
}