#HomePage .HomePageHeader {
    height: 10vh;
    display: flex;
    margin-top: 12vh;
    align-items: center;

}

#HomePage .HomePageTitle {
    margin-right: 42vw;
    margin-left: auto;
    font-size: max(5vmin, 20px);
    font-weight: 700;
    color: #303030;
}

#HomePage .HomePageHeader .button {
    background-color: #cf9116;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 1.5vmin 1vmax;
    margin-left: 5vw;
    font-size: max(2vmin, 12px);
}

#HomePage .ProjectsPart {
    margin: 4vmin 0;
}

.CenteredLoader {
    display: flex;
    justify-content: center;
}

#HomePage .ProjectsPart .grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#HomePage .ProjectsPart .container {
    max-width: 95%;
    margin: auto;
}

@media screen and (max-width: 768px) {

    #HomePage .ProjectsPart .grid4,
    #HomePage .ProjectsPart .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

#HomePage .ProjectsPart .ButtonContainer {
    width: 100%;
    display: grid;
}